# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Директории сборки
dist/
build/

# Логи
logs/
*.log

# Операционные системы
.DS_Store
Thumbs.db

# Среда разработки
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Прочие временные файлы
*.tmp
*.temp

# Файл конфигурации окружения
.env
